.bg {
    background: url('../images/background.png') fixed center;
    background-attachment: fixed;
    background-position: center;
}

.btn {
    margin-top: 30px;
}

.form-container {
    border: 0px solid #000000;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.75);
}

.query-container{
    border: 1px solid #000000;
    padding: 50px 60px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.hide:empty{
    display: none;
}

.font{
    font-size: 150%;
}
